* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Start of the mobile code */
/* Style the navigation menu */
.topnav {
  position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: red;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
  color: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

/* Add a grey background color on mouse-over */

/* Style the active link (or home/logo) */
.active {
  color: white;
}
@media (min-width: 601px) {
    .topnav a.icon {
        display: none;
    }
}



.new-menu {
  position: fixed;
  z-index: 9999;
  text-align: center;
  top: 0;
  left: 0;
  right: 0;
  display: none;
  font-family: 'Times New Romans';
  width: 100%;
  height: 20%;
  background-color: none;
  line-height: 2800%; /* This will center the text vertically within the menu */
}

.logo {
  position: fixed; /* Change position to fixed */
  height: 400px;
  width: 400px;
  top: 9%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.new-menu a {
  text-decoration: none;
  color: black;
  font-size: 16px;
  margin: 16px 16px;
  
}




@media (min-width: 602px) {
  .new-menu {
    display: block;
  }
}


